.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

.article-clean .intro {
  font-size: 16px;
  margin: 0 auto 30px;
}

.article-clean .intro h1 {
  font-size: 32px;
  margin-bottom: 15px;
  padding-top: 20px;
  line-height: 1.5;
  color: inherit;
  margin-top: 20px;
}

.article-clean .intro p {
  color: #929292;
  font-size: 12px;
}

.article-clean .intro p .by {
  font-style: italic;
}

.article-clean .intro p .date {
  text-transform: uppercase;
  padding: 4px 0 4px 10px;
  margin-left: 10px;
  border-left: 1px solid #ddd;
}

.article-clean .intro p a {
  color: #333;
  text-transform: uppercase;
  padding-left: 3px;
}

.article-clean .intro img {
  margin-top: 20px;
}

.article-clean .text p {
  margin-bottom: 20px;
  line-height: 1.45;
}

@media (min-width:768px) {
  .article-clean .text p {
    font-size: 16px;
  }
}

.article-clean .text h2 {
  margin-top: 28px;
  margin-bottom: 20px;
  line-height: 1.45;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

@media (min-width:768px) {
  .article-clean .text h2 {
    font-size: 20px;
  }
}

.article-clean .text figure {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.article-clean .text figure img {
  margin-bottom: 12px;
  max-width: 100%;
}

p {
  color: rgba(255,255,255,0.9);
}

.h1, h1 {
  color: #ef121a;
}

#wc-1-art {
  background-image: url(../../assets/img/WC/backgroundwc1.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-2-art {
  background-image: url(../../assets/img/WC/wc-2background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-3-art {
  background-image: url(../../assets/img/WC/wc-3background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-4 {
  background-image: url(../../assets/img/WC/Wc-4background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-5-art {
  background-image: url(../../assets/img/WC/WC-5background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-6-art {
  background-image: url(../../assets/img/WC/WC-6background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-7-art {
  background-image: url(../../assets/img/WC/wc-7background.jpeg);
  background-size: cover;
  background-attachment: fixed;
}

#wc-8img2-i {
  height: 10%;
  width: 20%;
}

#WC-8-art {
  background-image: url(../../assets/img/WC/wc-8background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#worlcration-art {
  background-attachment: fixed;
  background-size: cover;
}

#nav-charcreatopn {
  right: 35%;
}

.card-text:last-child {
}

#charcreation-body {
  background-image: url(../../assets/img/charcreation.jpg);
  background-size: cover;
  background-attachment: fixed;
}

img:hover {
  box-shadow: 0 25px 600px #181d1f;
}

img:hover {
  box-shadow: 0 25px 600px #181d1f;
}

img:hover {
  box-shadow: 0 25px 600px #181d1f;
}

.login-dark {
  background-size: cover;
  background-attachment: fixed;
}

#quikeref-body {
  background-image: url(../../assets/img/quikeref.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#gamefinder-body {
  background-image: url(../../assets/img/Table.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

#spelllist-body {
  background-image: url(../../assets/img/spell.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#NPCONFLY-Body {
  background-image: url(../../assets/img/npc.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

#quikeworld-body {
  background-image: url(../../assets/img/world.jpg);
  background-attachment: fixed;
  background-size: cover;
}

#quikechar-body {
  background-image: url(../../assets/img/quikchar.jpg);
  background-attachment: fixed;
  background-size: 100% 100%;
}

